# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
pnpm-debug.log

# Frontend
frontend/dist/
frontend/node_modules/
frontend/src/gen/

# Rust
rust-grpc-backend/target/

# Go
go-connect-backend/tmp/
go-connect-backend/gen/

# Environment variables
.venv-precommit/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.swp
*~

# OS specific
.DS_Store
Thumbs.db

frontend/.yarn/install-state.gz
