name : pre-commit checks
on:
    pull_request:
        types: [opened, synchronize, reopened]
jobs:
    precommit:
        runs-on: ubuntu-latest
        steps:
            - name: checkout code
              uses: actions/checkout@v3
            - name: Set up python
              uses: actions/setup-python@v4
              with:
                python-version: '3.12'

            - name: install pre-commit
              run: |
                python -m pip install --upgrade pip
                pip install pre-commit

            - name: run pre-commit hooks
              id: precommit
              run: |
                pre-commit run --all-files || true

            - name: post results to pr
              uses: marocchino/sticky-pull-request-comment@v2.9.4
              with:
                message: |
                 precommit results

                   ${{ steps.precommit.outputs.stdout}}
